<!-- templates/pacientes/form.html -->
{% extends 'base.html' %}
{% block title %}Novo Paciente{% endblock %}
{% block content %}
  <h2>Cadastrar Paciente</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <label>Nome:</label>
    {{ form.nome(class="form-control") }}
    <label>CPF:</label>
    {{ form.cpf(class="form-control", placeholder="000.000.000-00") }}
    <label>Data Nascimento:</label>
    {{ form.data_nascimento(class="form-control") }}
    <label>Contato:</label>
    {{ form.contato(class="form-control") }}
    <label>Endereço:</label>
    {{ form.endereco(class="form-control") }}
    {{ form.submit(class="btn") }}
  </form>
{% endblock %}
